/Lab_1/.idea
/Lab_1/cmake-build-debug
/Lab_1/CMakeLists.txt
/Lab_2(a)/.idea
/Lab_2(a)/cmake-build-debug
/Lab_2(a)/CMakeLists.txt
/Lab_2(b,1+2)/cmake-build-debug
/Lab_2(b,1+2)/CMakeLists.txt
/Lab_2(b,24)/cmake-build-debug
/Lab_2(b,24)/CMakeLists.txt
/Lab_3(a)/.idea
/Lab_3(a)/cmake-build-debug
/Lab_3(a)/CMakeLists.txt
/Lab_4/.idea
/Lab_4/cmake-build-debug
/Lab_4/CMakeLists.txt
/Lab_5/.idea
/Lab_5/cmake-build-debug
/Lab_5/CMakeLists.txt
/Lab_6/CMakeLists.txt